@font-face {
  font-family: "Coda";
  font-style: normal;
  font-weight: 400;
  src: local("Coda"), local("Coda-Regular"), url("http://fonts.gstatic.com/s/coda/v10/_xmjOXyFZCVnKmbBxb_PUA.woff2") format("woff2"), url("http://fonts.gstatic.com/s/coda/v10/A7A0IS2-4Ga-ZdxhMlAPjg.woff") format("woff");
}

header {
	text-align: center;
}

html {
    margin: 0;
	background-image: url("bg.jpg");
    background-size: 100%;
    color: white;
	font-family: 'Coda';
}

.list-page{
	width: 100%;
	font-size: 8px;
}

h1 {
    color: white;
	font-size: 400%;
	margin-left: 33%;
    text-decoration: underline;
}

#divMain{
	margin-left: 8%;
    width: 25%;
    float: left;    
	margin-right: 12%;
}

#control{
	margin-bottom: 20%;
	}

.DivLVs{
    width: 55%;
	height: 42em;
    float: left;
	margin-bottom: 5%;
	overflow:auto;
    overflow-y: scroll;
}

#footer {
	text-align: center;
	float:left;
	position: fixed; 
	bottom: 0;
	width:100%;
	background: #000;
	color: #FFF;
	font-size: 70%;
}